.container-fourth {
  padding: 60px 0 0;

  @include e(title) {
    font-size: 3.5rem;
    line-height: 4.5rem;
    max-width: 800px;
    margin: 0 auto 60px;
  }

  @include e(content-container) {
    padding: 0;
    background-color: $colorWhite;
    display: flex;
    align-items: center;
  }

  @include e(info-card-container) {
    padding: 90px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

.swiper {
  min-width: 300px;
  max-width: initial;
  position: relative;
  left: 5%;
}
