.container-third {
  padding: 0 90px;

  @include e(title) {
    font-size: 3.5rem;
    max-width: 820px;
    margin: 0 auto 30px;
  }

  @include e(text) {
    font-size: 1.2rem;
    line-height: rem(31px);
  }
}
