.container-second {
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 68px;
  padding: 40px 15px 50px;

  @include e(title) {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: auto;
    max-width: 800px;
    grid-column: 1/-1;
  }
}

.flight-info-container {
  @include m(top) {
    align-self: end;
  }
}

.second-container-plane {
  grid-column: 2/3;
  grid-row: 2/4;
  max-width: 650px;
  justify-self: center;
}
