.container-third {
  //
  // position: absolute;
  width: 100%;
  height: 100vh;
  //

  left: 0;
  top: 0;
  background-image: url(../images/bg/bg-plane-side.jpeg);
  background-size: cover;
  // background-position: center;
  background-attachment: fixed;
  color: $colorWhite;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include e(title) {
    font-family: Prata;
    color: $colorLightGold;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: $fontWeight400;
    line-height: 1.1;
    text-align: center;
    margin: 0 0 30px;
  }

  @include e(text) {
    color: $colorWhite;
    font-size: 1.15rem;
    line-height: rem(31px);
    text-align: center;
    font-weight: $fontWeight300;
    margin: 0 0 35px;
  }

  @include e(button) {
    display: block;
    margin: 0 auto;
    border: 1px solid $colorLightGold;
    background-color: $colorLightGold;
    color: $colorWhite;
    font-weight: $fontWeight400;
    font-size: 1rem;
    padding: 10px 22px;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .container-third {
    padding: 0 90px;

    @include e(title) {
      font-size: 3.5rem;
      max-width: 820px;
      margin: 0 auto 30px;
    }

    @include e(text) {
      font-size: 1.2rem;
      line-height: rem(31px);
    }
  }
}
@media screen and (min-width: 992px) {
  .container-third {
    @include e(title) {
      font-size: 4rem;
      letter-spacing: 3px;
      max-width: 920px;
    }

    @include e(text) {
      font-size: 1.2rem;
      max-width: 1100px;
      margin: 0 auto 35px;
    }

    @include e(button) {
      padding: 14px 25px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container-third {
    @include e(title) {
      font-size: 4.3rem;
    }

    @include e(text) {
      font-size: 1.3rem;
    }

    @include e(button) {
      font-size: 1.1rem;
    }
  }
}
