.container-fourth {
  padding: 40px 0 0;

  @include e(title) {
    margin: 0 0 35px;
    padding: 0 15px;
    text-align: center;
    font-family: Prata;
    font-weight: $fontWeight400;
    font-size: 3rem;
    line-height: rem(63px);
  }

  @include e(content-container) {
    background-color: $colorBgLight;
    padding: 15px;
  }

  @include e(info-card-container) {
    background-color: $colorBgLight;
    padding: 50px 35px;
  }
}

.swiper {
  min-width: 0;
  max-width: 400px;
}

.swiper-slide {
  & > img {
    width: 100%;
    max-width: 100%;
  }
}

.swiper-pagination {
  bottom: -50px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: rem(14px);
  border: 1px solid grey;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}

.info-card {
  margin-bottom: 60px;

  @include e(img-container) {
    width: rem(60px);
    height: rem(60px);
    margin-bottom: rem(30px);
  }

  @include e(img) {
    height: 100%;
    max-width: 100%;
    width: auto;
  }

  @include e(title) {
    margin: 0 0 1rem;
    font-size: 0.94rem;
    font-weight: $fontWeight600;
  }

  @include e(text) {
    margin: 0;
    font-size: 1rem;
    font-weight: $fontWeight400;
    line-height: rem(26px);
    color: $colorGreyText;
  }
}

@media screen and (min-width: 768px) {
  .container-fourth {
    padding: 60px 0 0;

    @include e(title) {
      font-size: 3.5rem;
      line-height: 4.5rem;
      max-width: 800px;
      margin: 0 auto 60px;
    }

    @include e(content-container) {
      padding: 0;
      background-color: $colorWhite;
      display: flex;
      align-items: center;
    }

    @include e(info-card-container) {
      padding: 90px;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .swiper {
    min-width: 300px;
    max-width: initial;
    position: relative;
    left: 5%;
  }
}

@media screen and (min-width: 992px) {
  .container-fourth {
    @include e(info-card-container) {
      padding: 90px 120px;
      grid-gap: 60px;
      flex: 2;
    }
  }

  .swiper {
    flex: 1.5;
  }
}
