.footer {
  background-color: $colorBgDark;
  color: $colorFooterLight;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  @include e(logo) {
    display: block;
    margin: auto;
    padding: 56px 0;
    max-width: 152px;

    > img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      border-top: 1px solid $colorFooterLighter;
      right: 0;
      left: 0;
      top: 148px;
    }
  }
}

.footer-nav {
  padding: 30px 0;
  text-align: center;

  @include e(ul) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 38px;
  }

  @include e(link) {
    font-size: rem(15px);
    line-height: rem(28.5px);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $colorFooterLight;
  }

  @include e(top-link) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $colorDarkGold;
  }

  @include e(arrow) {
    margin-right: 10px;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid $colorDarkGold;
    border-right: 1px solid $colorDarkGold;
    transform: rotate(-45deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid $colorFooterLighter;
    right: 0;
    left: 0;
    top: 340px;
  }
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 50px 0 15px;
}

.contact-area {
  margin-bottom: 38px;

  @include e(title) {
    text-transform: uppercase;
    color: $colorDarkGold;
    font-size: rem(14px);
    margin: 0 0 15px;
    font-weight: $fontWeight600;
  }

  @include e(adress) {
    font-size: rem(11.5px);
    font-weight: $fontWeight400;
    margin: 0;
  }
}

.why-us {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-bottom: 38px;

  @include e(title) {
    text-transform: uppercase;
    color: $colorDarkGold;
    font-size: rem(14px);
    margin: 0 0 15px;
    font-weight: $fontWeight600;
  }

  @include e(text) {
    font-size: rem(11.5px);
    line-height: rem(21px);
    font-weight: $fontWeight400;
    margin: 0;
  }
}

.regulatory-links {
  margin-bottom: 38px;

  @include e(link) {
    text-decoration: none;
    font-size: rem(11.5px);
    font-weight: $fontWeight400;
    margin: 0;
    color: $colorFooterLight;
  }
}

.social-links {
  align-self: end;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  width: 120px;

  @include e(link) {
    text-decoration: none;
  }

  @include e(svg) {
    display: block;
    width: 20px;
    height: 20px;
    --spriteColor: rgba(255, 255, 255, 0.75);
  }
}

@media screen and (min-width: 576px) {
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include e(ul) {
      flex: 1;
      max-width: 640px;
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    @include e(link) {
      font-size: rem(12px);
    }

    @include e(top-link) {
      margin-left: 75px;
      flex: 0;
    }

    &::after {
      top: 237px;
    }
  }

  .social-links {
    @include e(svg) {
      width: 21px;
      height: 21px;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer-bottom {
    grid-template-columns: (repeat(4, 1fr));
    padding: 56px 0 16px;
  }

  .why-us {
    grid-column: 3/-1;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 992px) {
  .footer-nav {
    @include e(link) {
      &:hover {
        text-decoration: underline;
      }
    }

    @include e(top-link) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .regulatory-links {
    @include e(link) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-links {
    @include e(svg) {
      &:hover {
        --spriteColor: #a8987e;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    @include e(link) {
      font-size: rem(14px);
    }

    @include e(top-link) {
      font-size: rem(14px);
    }

    @include e(arrow) {
      width: 10px;
      height: 10px;
    }
  }

  .contact-area {
    @include e(title) {
      font-size: rem(15px);
    }

    @include e(adress) {
      font-size: rem(13px);
    }
  }

  .why-us {
    @include e(title) {
      font-size: rem(15px);
    }

    @include e(text) {
      font-size: rem(13px);
    }
  }

  .regulatory-links {
    @include e(link) {
      font-size: rem(13px);
    }
  }

  .social-links {
    @include e(svg) {
      width: 23px;
      height: 23px;
    }
  }
}
