* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $baseFontFamily;
  font-size: 15px;
}

body {
  height: 100%;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

.container-fluid {
  position: relative;
  background-color: $colorWhite;

  @include m(header) {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: $colorBgDark;
    width: 100%;
  }

  @include m(footer) {
    background-color: $colorBgDark;
  }
}

.width-container {
  max-width: 1366px;
  margin: auto;
  background-color: $colorWhite;
}

.invis {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (min-width: 576px) {
  html {
    font-size: $baseFontSize;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}
