.footer-nav {
  @include e(link) {
    font-size: rem(14px);
  }

  @include e(top-link) {
    font-size: rem(14px);
  }

  @include e(arrow) {
    width: 10px;
    height: 10px;
  }
}

.contact-area {
  @include e(title) {
    font-size: rem(15px);
  }

  @include e(adress) {
    font-size: rem(13px);
  }
}

.why-us {
  @include e(title) {
    font-size: rem(15px);
  }

  @include e(text) {
    font-size: rem(13px);
  }
}

.regulatory-links {
  @include e(link) {
    font-size: rem(13px);
  }
}

.social-links {
  @include e(svg) {
    width: 23px;
    height: 23px;
  }
}
