//fonts
$google-font: 'https://fonts.googleapis.com/css2?family=Prata&display=swap';
@if variable_exists($google-font) {
  @import url($google-font);
}

@font-face {
  font-family: Muli;
  src: url('#{$fontsPath}muli/Muli-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url('#{$fontsPath}muli/Muli.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url('#{$fontsPath}muli/Muli-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Muli;
  src: url('#{$fontsPath}muli/Muli-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('#{$fontsPath}icomoon.eot?8n1qvb');
  src: url('#{$fontsPath}icomoon.eot?8n1qvb#iefix') format('embedded-opentype'),
    url('#{$fontsPath}icomoon.ttf?8n1qvb') format('truetype'),
    url('#{$fontsPath}icomoon.woff?8n1qvb') format('woff'),
    url('#{$fontsPath}icomoon.svg?8n1qvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buy:before {
  content: '\e900';
  color: #fff;
}
.icon-magnify:before {
  content: '\e901';
  color: #fff;
}
.icon-user:before {
  content: '\e902';
  color: #fff;
}
