.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e(ul) {
    flex: 1;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  @include e(link) {
    font-size: rem(12px);
  }

  @include e(top-link) {
    margin-left: 75px;
    flex: 0;
  }

  &::after {
    top: 237px;
  }
}

.social-links {
  @include e(svg) {
    width: 21px;
    height: 21px;
  }
}
