.container-first {
  @include e(title) {
    font-size: 4rem;
    letter-spacing: 3px;
    max-width: 854px;
    margin: 0 auto 30px;
  }

  @include e(text) {
    font-size: 1.2rem;
    max-width: 854px;
    margin: 0 auto 35px;
  }

  @include e(button) {
    padding: 14px 25px;
  }
}
