.footer-nav {
  @include e(link) {
    &:hover {
      text-decoration: underline;
    }
  }

  @include e(top-link) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.regulatory-links {
  @include e(link) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.social-links {
  @include e(svg) {
    &:hover {
      --spriteColor: #a8987e;
    }
  }
}
